<form>
	<div class="input-group">
		<span class="input-group-addon" id="user-icon"><i class="glyphicon glyphicon-user"></i></span>
		<input type="text" class="form-control" placeholder="Username" aria-describedby="user-icon"/>
	</div><br/>
	<div class="input-group">
		<span class="input-group-addon" id="password-icon"><i class="glyphicon glyphicon-cog"></i></span>
		<input type="password" class="form-control" placeholder="Password" aria-describedby="password-icon"/>
	</div><br/>
	<input type="submit" class="btn btn-success btn-block" value="Login"/>
</form>