 <div class="wrapper wrapper-content animated fadeInRight">
 	<div class="row">
 		<div class="col-lg-3">
 			<div class="widget style1 navy-bg">
 				<div class="row">
 					<div class="col-xs-4">
 						<i class="fa fa-cube fa-5x"></i>
 					</div>
 					<div class="col-xs-8 text-right">
 						<span> Containers </span>
 						<h2 class="font-bold">{{nbrOfContainers}}</h2>
 					</div>
 				</div>
 			</div>
 		</div>
 		<div class="col-lg-3">
 			<div class="widget style1 lazur-bg">
 				<div class="row">
 					<div class="col-xs-4">
 						<i class="fa fa-sticky-note-o fa-5x"></i>
 					</div>
 					<div class="col-xs-8 text-right">
 						<span> Images </span>
 						<h2 class="font-bold">{{nbrOfImages}}</h2>
 					</div>
 				</div>
 			</div>
 		</div>
 		<div class="col-lg-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-tachometer fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Memory Usage </span>
                        <h2 class="font-bold" style="font-size:25px">{{used}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 red-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-pie-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Available Space </span>
                        <h2 class="font-bold" style="font-size:25px">{{available}}</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-4">
            <div class="widget lazur-bg p-xl" >

                <h2>
                    {{name}}
                </h2>
                <ul class="list-unstyled m-t-md">
                    <li>
                        <span class="fa fa-linux m-r-xs"></span>
                        <label>OS:</label>
                        {{os}}
                    </li>
                    <li>
                        <span class="fa fa-cog m-r-xs"></span>
                        <label>Kernel:</label>
                        {{kernel}}
                    </li>
                    <li>
                        <span class="fa fa-hdd-o m-r-xs"></span>
                        <label>Driver:</label>
                        {{driver}}
                    </li>
                </ul>

            </div>


        </div>
        <div class="col-lg-4">
           <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Running containers</h5>
            </div>
            <div class="ibox-content">

                <canvas id="lineChart" height="125"></canvas>

            </div>
        </div>
       </div>
       <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Data usage</h5>
            </div>
            <div class="ibox-content">

                <canvas id="lineChart2" height="125"></canvas>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                            <tr>
                                <th data-toggle="true">Name</th>
                                <th>Port</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="container in running">
                                <td><a href="http://{{name}}:{{container.Ports[0].PublicPort}}" class="btn btn-success btn-xs"><i class="fa fa-folder-open-o"></i> View</a> {{container.Names[0]}}</td>
                                <td>{{container.Ports[0].PublicPort}} : {{container.Ports[0].PrivatePort}}</td>
                            </tr>
                        </tbody> 
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>