 <div class="wrapper wrapper-content animated fadeInRight">
 	<div class="row">
 		<div class="col-lg-3">
 			<div class="widget style1 navy-bg">
 				<div class="row">
 					<div class="col-xs-4">
 						<i class="fa fa-cube fa-5x"></i>
 					</div>
 					<div class="col-xs-8 text-right">
 						<span> Containers </span>
 						<h2 class="font-bold">26</h2>
 					</div>
 				</div>
 			</div>
 		</div>
 		<div class="col-lg-3">
 			<div class="widget style1 lazur-bg">
 				<div class="row">
 					<div class="col-xs-4">
 						<i class="fa fa-sticky-note-o fa-5x"></i>
 					</div>
 					<div class="col-xs-8 text-right">
 						<span> Images </span>
 						<h2 class="font-bold">26'C</h2>
 					</div>
 				</div>
 			</div>
 		</div>
 		<div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-tachometer fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> CPU Usage </span>
                            <h2 class="font-bold">26'C</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 red-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-pie-chart fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Memory Usage </span>
                            <h2 class="font-bold">26'C</h2>
                        </div>
                    </div>
                </div>
            </div>

 	</div>
 	<div class="row">
 		<div class="col-lg-6">
 			<div class="ibox float-e-margins">
 				<div class="ibox-title">
 					<h5>Containers</h5>
 					<div ibox-tools></div>
 				</div>
 				<div class="ibox-content">
 					<div>
 						<canvas id="lineChart" height="140"></canvas>
 					</div>
 				</div>
 			</div>
 		</div>
 		<div class="col-lg-6">
 			<div class="ibox float-e-margins">
 				<div class="ibox-title">
 					<h5>CPU Usage</h5>
 					<div ibox-tools></div>
 				</div>
 				<div class="ibox-content">
 					<div>
 						<div id="barChart" style="width:440px;height:145px"></div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>