 <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{container.Name}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ng-href="#/containers">Images</a>
            </li>
            <li class="active">
                <strong>Information</strong>
            </li>
        </ol>
        <br/>
        <div class="button-group pull-left">
        	<a class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Restart a container"><i class="fa fa-retweet"></i></a>
        	<a class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Start a container"><i class="fa fa-play"></i></a>
        	<a class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Kill a container"><i class="fa fa-trash-o"></i></a>
        	<a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Stop a container"><i class="fa fa-ban"></i></a>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
</div>